@use "../abstracts" as *;

.experience {
  position: relative;
  margin-top: rem(112);
  padding: rem(140) 0 rem(76);
  background: url("../images/mobile/image-footer.jpg") no-repeat
    center center/cover;
  color: $white;
}

.experience .container::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba($dark-green, 0.9);
}

.experience .container > * {
  position: relative;
  z-index: 2;
}

.experience__title {
  color: inherit;
  font-size: rem(32);
}

.experience__description {
  margin: rem(24) 0;
}
