@use "../abstracts" as *;

.experience {
  position: relative;
  margin-top: rem(112);
  background: url("../images/mobile/image-footer.jpg") no-repeat
    center center/cover;
  padding: rem(140) 0 rem(76);
  color: $white;

  @include breakpoint-up("tiny") {
    background-image: url("../images/tablet/image-footer.jpg");
  }

  @include breakpoint-up("medium") {
    background-image: url("../images/desktop/image-footer.jpg");
    padding: rem(116) 0 rem(104);
  }
}

.experience .container {
  @include breakpoint-up("medium") {
    max-width: rem(1110);
    text-align: left;
  }
}

.experience .container::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba($dark-green, 0.9);
}

.experience .container > * {
  position: relative;
  z-index: 2;
}

.experience .flex {
  @include breakpoint-up("medium") {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.experience__title {
  color: inherit;
  font-size: rem(32);

  @include breakpoint-up("small") {
    font-size: rem(40);
  }

  @include breakpoint-up("medium") {
    flex: rem(352) 0 0;
  }
}

.experience__description {
  margin: rem(24) 0;

  @include breakpoint-up("medium") {
    flex: rem(352) 0 0;
  }
}
