@use "../abstracts" as *;

.feature {
  padding: rem(92) 0 rem(64);

  @include breakpoint-up("medium") {
    padding-bottom: rem(72);
  }
}

.feature .container {
  max-width: 100%;
}

.feature .flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: rem(25);
}

.feature .flex__child {
  all: inherit;
  flex-wrap: nowrap;

  @media screen and (max-width: 22.4375em) {
    flex-wrap: wrap;
  }
}

.feature__container {
  margin: 0 auto;
  max-width: rem(500);
}

.feature__image {
  max-width: rem(150);
  border-radius: rem(8);

  @include breakpoint-up("small") {
    max-width: rem(255);
  }
}

.feature__wrapper-subtitle {
  display: flex;
  flex-direction: column-reverse;
  padding-top: rem(64);
}

.feature__title {
  font-size: rem(32);
  margin: rem(24) 0 rem(32);

  @include breakpoint-up("small") {
    font-size: rem(40);
  }
}

.feature__ribbon {
  font-weight: 900;
  letter-spacing: rem(4);
  font-size: rem(16);
  text-transform: uppercase;
  color: $dark-green;
}
