@use "../abstracts" as *;

.btn {
  display: inline-block;
  font-size: rem(16);
  margin: 0.5em;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 900;
  border-radius: 2em;
}

.btn--download {
  padding: 1em 2.5em;
}

.btn--green {
  background-color: $dark-green;
}

.btn--purple {
  background-color: $dark-purple;
}

.btn--green .btn__text-faded {
  color: $light-green;
}

.btn--purple .btn__text-faded {
  color: $light-purple;
}

.btn--what-is-it {
  background-color: $dark-purple;
  padding: 1em 1.8125em;
}
