@use "../abstracts" as *;

.number {
  position: relative;
}

.number::after,
.number::before {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.number::after {
  display: flex;
  top: -#{rem(28)};
  align-items: center;
  justify-content: center;
  border: rem(1) solid rgba($light-gray, 0.25);
  border-radius: 50%;
  background-color: $white;
  width: rem(56);
  height: rem(56);
  color: $dark-gray;
  font-size: rem(16);
  font-weight: 900;
}

.number::before {
  content: "";
  top: -#{rem(112)};
  background-color: rgba($light-gray, 0.25);
  width: rem(1);
  height: rem(84);
}

.number--one::after {
  content: "01";
}

.number--two::after {
  content: "02";
}
