// Default style that I currently use on this project
$black: rgb(17, 17, 17) !default;

// Colors

/// Primary
$dark-green: rgb(77, 150, 168);
$light-green: rgb(143, 227, 249);

/// Secondary
$dark-purple: rgb(133, 95, 177);
$light-purple: rgb(217, 184, 255);

/// Neutral
$dark-gray: rgb(40, 40, 61);
$light-gray: rgb(135, 135 ,157);
$white: rgb(250, 250, 250);

// Breakpoints
// Note: If the user font-size setting is 16px, then this 'em' is equal to this in 'px'
$breakpoints-up: (
  "tiny": 37.5em, // => 600px
  "very-small": 46.25em, // => 740px
  "small": 59.375em, // => 950px
  "medium": 78em, // => 1248px
);

$breakpoints-down: (
  "tiny": 37.4375em, // => 599px
  "very-small": 46.1875em, // => 739px
  "small": 59.3125em, // => 949px
  "medium": 77.9375em, // => 1247px
);
